body {
    background: linear-gradient(#c5dbff, #ffffff);
    background-repeat: no-repeat;
    font-family: Arial, Verdana, sans-serif;
    font-size: 100%;
}

header {
    display: block;
    float: none;
    margin: 0 auto;
    padding-top: 20px;
    width: 95%;
}

header p {
    text-align: center;
}

nav {
    background-color: #5a8dff;
    border-radius: 10px 10px 0px 0px;
    color: #ffffff;
    float: left;
}

nav a {
    display: block;
    width: 306.6px;
}

nav a:link {
    color: #ffffff;
    text-decoration: none;
}

nav a:visited {
    color: #ffffff;
    text-decoration: none;
}

nav a:hover {
    color: #00ff80;
}

nav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0px;
}

nav ul li {
    display: inline;
    float: left;
    font-size: 1.25em;
    text-align: center;
}

section {
    float: left;
    padding: 20px 0px;
    width: 100%;
}

footer {
    background-color: #5a8dff;
    border-radius: 0px 0px 10px 10px;
    clear: both;
    display: block;
    position: relative;
    height: 2.5em;
}

footer p {
    color: white;
    padding: 10px;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
}

h1 {
    color: #5a8dff;
    font-size: 2.5em;
    text-align: center;
}

h2 {
    color: #0045ff;
    font-size: 1.625em;
    text-align: center;
}

p {
    font-size: 0.85em;
    text-align: justify;
}

a:link {
    color: #7334a8;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: #ff0000;
}

form {
    font-size: 1.4em;
    margin: 0 auto;
    text-align: center;
    width: 90%;
}

form p {
    display: inline;
    text-align: left;
}

form ul {
    list-style-type: none;
    text-align: left;
}

form input {
    display: inline;
    float: right;
    clear: both;
    width: 75%;
}

form select{
    display: inline;
    float: right;
    margin-left: 10px;
}

form input[type="radio"], input[type="checkbox"] {
    float: right;
    width: 10%;
}

form input[type="submit"] {
    font-weight: bold;
    margin: 0 auto;
    width: 20%;
}

form select {
    margin-top: 10px;
    padding-right: 50px;
}

label {
    float: right;
    font-size: 14px;
}

img {
    border-radius: 20px;
    height: 200px;
    margin: 0 auto;
    padding: 5px;
    width: 200px;
}

table {
	margin: 0px auto;
    padding: 0px;
	width: 95%; 
}

table a:hover {
    color: #ffffff;
}

table thead {
    background-color: #0088ff;
    color: #ffffff;
    padding: 5px;
}

table td {	
	background-color: #aad4ff;
    padding: 5px;
	text-align: center;
    text-overflow: ellipsis;
}

/* ########## DIV ELEMENTS ########## */

#wrapper {
    background: #ffffff;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    width: 920px;
}

#aboutFloat {
    display: block;
    float: left;
    height: 325px;
}

#aboutMe {
    display: block;
    float: left;
    text-align: justify;
    width: 48%;
}

#aboutMe img {
    margin: 0px 10px;
    display: block;
    float: left;
}

#aboutMe p {
    display: inline;
}

#aboutSolent {
    display: block;
    float: right;
    text-align: justify;
    width: 48%;
}

/* ########## CLASS ELEMENTS ########## */

.form_row {
    height: 40px;
}

.img_me {
    display: block;
    height: 100px;
    margin: 0 auto;
    width: 100px;
}

.img_solent_logo {
    display: block;
    height: 124px;
    margin: 0 auto;
    width: 256px;
}

.italic {
    font-style: italic;
}

.tableLeft {
    padding: 5px;
    width: 10%;
}

.tableRight {
    padding: 5px;
    width: 10%;
}